.mts-command.current-command{
    border-left: 6px solid red;
    background-color: lightgrey;
}

.command-ct{
	height:100%;
}

.mts-console{
	width:100%;
}

.mts-console .mts-command .md-button{
	margin:0px;
	padding:0px;
	min-width:0px;
	min-height:0px;
	line-height:24px;
}

.dashboard .tile .label{
	font-size: 10pt;
}

.dashboard {
	width:100%;
}
.dashboard .tile{
	width:240px;
	background-color: rgb(240,240,240);
    padding: 4px;
}

.dashboard .material-icons{
	font-size:50pt;
	width:100%;
	height:100%;
}
.stop-name{
	font-size 16px;
}
.dashboard .dashboard-tile-label{
	text-align: center;
	padding-right:4px;
}
.command-ct{
	font-size:12pt;
}

.mts-viewport .md-tab .material-icons{
	margin: 0px;
	padding-right: 8px;
}

.sim-config-panel .command-panel-label{
	font-size:12pt;
    border-top: 2pt solid rgb(224,224,224);
	
}
.sim-config-panel {
}

.sim-config-panel .sim-config-controls-panel .md-button{
	font-size: 9px;
    border: 1pt solid rgb(225, 224, 225)
}

.toggle-option-selected{
	color:#ff5151;
}

.toggle{
	font-size:28pt;
	width: 70px;
    height: 100%;
    padding-bottom: 12px;
}

.sim-configmode-toggle-label{
	font-size:10pt;
}
.sim-configmode-toggle-title{
	font-size:14pt;
}

.manual-config-option-icon{
	font-size:24pt
}
.file-config-option-icon{
	font-size:17pt
}

.config-panel{
	border-right: 2pt solid rgb(224,224,224);
	width:380px;
	padding-left:6px;
}

.command-console-title{
    border-bottom: 2pt solid rgb(224,224,224);
        padding-left: 8px;
}

.command-line{
    font-family: monospace;
    font-size: 12pt;	
    border-bottom: 1pt solid rgb(224,224,224);
    height:18px;
    padding-left:10px;
}
.command-index{
    font-family: monospace;
    font-size: 12pt;	
	border-right: 2pt solid rgb(224,224,224);
    border-bottom: 2pt solid rgb(224,224,224);
    height:18px;
}

.command-file-input{
	font-size:12pt;
}

.command-entry-buttons{
    border-top: 2pt solid rgb(224,224,224);
}

OS X webkit browsers to always show scroll bars/
::-webkit-scrollbar {
-webkit-appearance: none;
}
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.expansion-panel.active-panel{
	background-color: rgb(250,220,220);
}

span:focus {
    outline: none;
    border: 0;
 }
 
div:focus {
    outline: none;
    border: 0;
 }
 
 .expansion-panel .panel-title{
 font-size: 20pt;
 font-weight: bolder;
 }
 
 .sim-config-controls-panel{
    height:100%;
    overflow: auto;
 }
 
 .expansion-panel .panel-description{
 font-size: 12pt;
 }
 
 .input-form{
  height: inherit;
}

 .input-form .md-content{
	 overflow: auto
}

.sim-exec-panel{
	height:100%;
	padding-top:8px;
}
.sim-exec-viewer-panel{
	height:350px;
	max-height: 350px;
	padding-top: 6px;
}
.sim-exec-controls-panel {
    background-color: rgb(228, 228, 228);
    border: solid 3px rgb(228, 228, 228);
}
.sim-exec-controls-panel .title-label{
    padding-left:4px;
}

.sim-exec-control .md-button{
	min-width:12px;
	max-width: 40px;
	margin: 0px;
}
.sim-exec-control .material-icons{
	font-size: 32px;
}

body{
	height:100%;
}


.md-padding{
	padding:4px;
}

.route-label{
	font-size:1.1em;
	padding-left:18px;
}


.vehicle-positions-container{
	background-color:white;
}
.stop-index{
	font-size:8pt;
}
.vehicle-positions-container .fas{
	font-size: 24pt;
}

.vehicle-positions-container .entity-card-icon-frame{
	margin-right:8px;
}

.entity-card-details .fas{
	font-size:16px;
}
.entity-card-details .value{
	font-size:18px;
}

.vehicle-container{
	height:50px;
	margin-bottom:5px;
}

.stop{
	background-color:rgb(228,228,228);
	height:50px;
	width:180px;
	padding-right:4px;
	
}

.stop-icon-panel{
	padding-left:2px;
	padding-top:4px;
}

.stop-icon{
	font-size:20pt;
	margin:0px;
	width:36px;
	padding-left:2px;
}

.stop .passenger-icon{
	font-size:16pt;
	margin:0px;
}

.stop.value{
	width:20px;
}

.debug-label{
	font-size:10px;
}




.path-icon{
    font-size: 28pt;
    margin-top: 3px;
    font-weight: 600;
}

.route-id{
    height: 36px;
    padding-top: 5px;
    padding-left: 4px;	
    background-color: rgb(97,97,97);
    color:white;
}

.route{
	background-color: rgb(97,97,97);
	border-radius:4px;
	padding:3px
}
.route-icon{
	font-size:20pt;
	margin:0px;
	color:white;
}

.vehicle{
	border:solid 1pt rgb(173,173,173);
	background-color: white;
	border-radius: 8px;
	max-width:150px;
	padding-left:4px;
}

.vehicle-label{
	font-size:14pt;
	padding-left:2px;
	padding-right:2px;
}
.vehicle-icon{
	font-size:20pt;
	margin:0px;
}

.vehicle-details{
	padding-left:2px;
	max-width:40px;
}

.vehicle .passenger-icon{
	font-size:16pt;
	margin:0px;
}

.vehicle-details .value{
	font-size:16px;
}
.vehicle-details .capacity{
	margin-left:0px;
	border-top:solid 1pt black;
	font-size:10px;
}

.vehicle .fuel-gauge-panel{
	min-width: 20px;
}
.vehicle .fuel-gauge-label{
	font-size:10px;
}
.fuel-gauge-display{
	width:10px;
	height:30px;
	background-color:red;	
}
.fuel-level{
	background-color:green;	
}

.time-label{
	font-size:10px;
}
.time-value{
	font-size:18pt;
}

.sim-clock{
	padding-left:6px;
	padding-right:6px;
	background-color:white;
	width:46px;
}
.sim-clock.wide{
	width:70px;
}

.event-time-icon{
    font-size: 14pt;
    padding-top: 3px;
    margin: 0px;
    padding-left: 6px;
}

.event-label{
	font-size:20px;
}

.event-description{
	font-size:14px;
}


.event{
	border-bottom: solid 1px rgb(228,228,228);
}

.event .time-value{
	font-size:14pt;
	width:50px;
	margin-left:4px;
}

.report-header{
	font-size:18px;
	border-bottom:solid 1pt rgb(228,228,228);
}
.report-field{
	padding-right:8px;
	font-size:14px;
}

.mts-main{
	padding:0px;
	height:100%;
}

.side-panel{
	border-left: solid 2px rgb(228,228,228);
}
.sim-exec-viewer-panel ._md{
	height:inherit;
}

.config-toggle{
	padding-top:4px;
}

.report-menu{
	background-color:rgb(228,228,228);
	min-height:500px;
	padding-top:12px;
	margin-top:6px;
}
.report-menu .menu-item{
	width:100%;
	height:28px;
}

.report-menu .menu-label{
	font-size:16pt;
}

.report-menu .menu-item-label{
	font-size:14pt;
}
.report-menu .item-label.selected{
	font-weight: 500;
}

.menu-item .material-icons{
	margin:0px;
	padding:0px;
	font-size:24px;
}

.menu-item .material-icons.selected{
	font-weight: 600;
}

.report-section{
	margin:6px;
}
.report-panel{
	margin-top:6px;
	padding:8px;
}

.report-section .sim-exec-controls-panel .sim-clock{
	width:200px;
}

.report-field{
	font-size:13pt;
}
.report-row{
	border-bottom: solid 1px rgb(228,228,228);
}

.report-section .sim-exec-controls-panel .vehicle-icon{
	margin-left:4px;
	margin-right:6px;
}

.vehicle .vehicle-icon{
}

.vehicle .hazard-indicator{
	margin: 0px;
    padding: 0px;
    position: relative;
    top: -11px;
    left: -15px;
    font-size: 26px;
}
.stop .hazard-indicator{
	margin: 0px;
    padding: 0px;
    position: relative;
    top: 18px;
    left: -15px;
    font-size: 26px;
}
.path .path-hazard-indicator{
    font-size: 37px;
    color: #fbb009;
}


.path .path-icon.blocked{
    color: red;
}

.depot-icon{
	color:red;
	background-color:white;
}


.hazard-indicator{
    color: red;
}
.hazard-indicator.warning{
    color: #fbb009;
}

.speed-limit{
	margin:0px;
	padding:0px;
	border:solid 3px black;
	border-radius:3px;
	margin-left:4px;
}
.speed-limit .label{
	margin:0px;
	padding-left:2px;
	padding-right:2px;
	padding-top:3px;
	font-size:12px;	
	text-align: center;
}
.speed-limit .value{
	font-size:18px;
	font-weight:600;	
	text-align:center;
}



.delay-factor .material-icons{
	font-size:16px;
	width:16px;
	height:16px;
	min-width:16px;
	min-height:16px;
	    margin: 0px;
    padding: 0px;
}
.delay-factor .label{
	font-size:14px;
}
.delay-factor{
	height: 12px;
    position: relative;
    top: -2px;
    left: 10px;
}

.menu-separator{
	height:12px;
	border-top:solid 1px lightgrey;
}
.menu-separator-icon{
	font-size:12px;
}

.menu-holder{
	padding-left:20px;
	padding-top:20px;
}
