.blue-color{color:#003057;}
.tech-gold-color{color:#B3A369;}
.buzz-gold-color{color:#EAAA00;}
.buzz-gold-60-color{color:#F5D580;}
.blue-80-color{color:#335161;}
.link-blue-color{color:#004F9F;}
.link-hover-blue-color{color:#1879DB;}
.dark-gray-color{color:#545454;}
.medium-gray-color{color:#808080;}
.light-gray-color{color:#E5E5E5;}
.gray-matter-color{color:#54585A;}
.atlanta-fog​-color{color:#002233;}
.mortar​-color{color:#8E8B76;}
.pi-mile​-color{color:#D6DBD4;}
.diploma​-color{color:#F9F6E5;}
.tower-patina​-color{color:#4B8B9B;}
.bobby-jones​-color{color:#377117;}
.burger-bowl-color{color:#B7C42F;}
.whistle​-color{color:#740053;}
.georgia-clay​-color{color:#AD4025;}
.horizon-color{color:#F95E10;}

.blue-background-color{background-color:#003057;}
.tech-gold-background-color{background-color:#B3A369;}
.buzz-gold-background-color{background-color:#EAAA00;}
.buzz-gold-60-background-color{background-color:#F5D580;}
.blue-80-background-color{background-color:#335161;}
.link-blue-background-color{background-color:#004F9F;}
.link-hover-blue-background-color{background-color:#1879DB;}
.dark-gray-background-color{background-color:#545454;}
.medium-gray-background-color{background-color:#808080;}
.light-gray-background-color{background-color:#E5E5E5;}
.gray-matter-background-color{background-color:#54585A;}
.atlanta-fog-background-color{background-color:#002233;}
.mortar-background-color{background-color:#8E8B76;}
.pi-mile-background-color{background-color:#D6DBD4;}
.diploma-background-color{background-color:#F9F6E5;}
.tower-patina-background-color{background-color:#4B8B9B;}
.bobby-jones-background-color{background-color:#377117;}
.burger-bowl-background-color{background-color:#B7C42F;}
.whistle-background-color{background-color:#740053;}
.georgia-clay-background-color{background-color:#AD4025;}
.horizon-background-color{background-color:#F95E10;}
