 <md-content layout-padding>
    <form name="addEventForm" ng-submit="onSubmit()">

      <md-input-container class="md-block">
        <label>Time Rank</label>
        <input required md-no-asterisk type="number" min="0" name="time" ng-model="item.time">
        <div ng-messages="addEventForm.time.$error"  multiple md-auto-hide="false">
          <div ng-message="required">This field is required.</div>
          <div ng-message="min">0 is the minimum time rank value allowed</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Event Type</label>
        <input required md-no-asterisk name="type" ng-model="item.type">
        <div ng-messages="addEventForm.type.$error"  multiple md-auto-hide="false">
          <div ng-message="required">This field is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Event ID</label>
        <input required md-no-asterisk type="number" min="0" name="id" ng-model="item.id">
        <div ng-messages="addEventForm.id.$error"  multiple md-auto-hide="false">
          <div ng-message="required">This field is required.</div>
          <div ng-message="min">0 is the minimum ID value allowed</div>
        </div>
      </md-input-container>

      <div>
        <md-button type="submit">Submit</md-button>
      </div>
    </form>
  </md-content>