 <md-content layout-padding>
    <form name="addTrainStopForm" ng-submit="onSubmit()">

      <md-input-container class="md-block">
        <label>Stop ID</label>
        <input required md-no-asterisk type="number" min="0" name="id" ng-model="item.id">
        <div ng-messages="addTrainStopForm.id.$error"  multiple md-auto-hide="false">
          <div ng-message="required">This field is required.</div>
          <div ng-message="min">0 is the minimum ID value allowed</div>
        </div>
      </md-input-container>
      <md-input-container  class="md-block">
        <label>Stop Name</label>
        <input required md-maxlength="30" required md-no-asterisk name="name" ng-model="item.name">
        <div ng-messages="addTrainStopForm.name.$error"  multiple md-auto-hide="false">
          <div ng-message="required">This field is required.</div>
          <div ng-message="md-maxlength">The id must be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container  class="md-block">
        <label>Riders</label>
        <input required md-no-asterisk type="number" min="0" name="riders" ng-model="item.riders">
        <div ng-messages="addTrainStopForm.riders.$error"  multiple md-auto-hide="false">
          <div ng-message="required">This field is required.</div>
          <div ng-message="min">0 is the minimum number of riders allowed</div>
        </div>
      </md-input-container>        
      <div layout="row">
        <md-input-container flex="50">
          <label>X Coordinate</label>
          <input required md-no-asterisk type="number" step="any" name="xCoord" ng-model="item.xCoord">
          addTrainStopForm            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>Y Coordinate</label>
          <input required md-no-asterisk type="number" step="any" name="yCoord" ng-model="item.yCoord">
          <div ng-messages="addTrainStopForm.yCoord.$error"  multiple md-auto-hide="false">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-button type="submit">Submit</md-button>
        <md-button ng-click="cancel()">Cancel</md-button>
      </div>
    </form>
  </md-content>