<div class="fuel-consumption-viewer">
  <div layout="column" >
     <div>Fuel Consumption</div>
     <div ng-repeat="vehicleReport in reports track by $index ">
         <div  class="report-field">{{vehicleReport.vehicle.type}} #{{vehicleReport.vehicle.ID}}  consumed a total fuel of {{getTotal(vehicleReport.vehicle)}}</div>
         <div ng-repeat="report in vehicleReport.reports | orderBy:'timeRank' track by $index">
           <div layout="row" layout-align="start start">
	           <div class="report-field">Time {{report.timeRank}}</div>
	           <div class="report-field">Path: stop ID {{report.pathKey.origin}} --> stop ID {{report.pathKey.destination}}</div>
	           <div class="report-field">amount: {{report.amount}}</div>
           </div>
         </div>
     </div>
  </div>
</div>
