<!DOCTYPE html>
<html>
<head>
 	<meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MTS" content="A MARTA Simulator">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MARTA Simulator</title>   
    <link rel="stylesheet" href="lib/css/all.css" > <!--load all fa styles -->
    <link rel="stylesheet" href="lib/webfonts/material-icons.css">
    <link rel="stylesheet" href="lib/css/angular-material.min.css">
    <link rel="stylesheet" href="css/mts.css">
    <link rel="stylesheet" href="css/mts-report.css">
    <link rel="stylesheet" href="css/gt.css">
    <link rel="stylesheet" href="css/team.css">
</head>
<body ng-app="MTS" ng-controller="MTSController" ng-cloak >

    <div class="mts-main" layout="column">
        <div ng-show="showMenu" layout="row">
            <div class="menu-holder" flex="50" layout="column">
	        <md-card>
	          <md-card-title>
	           	<md-card-title-text>
	           	   <span class="md-headline">Welcome to Group A7-8 MTS Simulation System</span>
	           	   <div class="md-subhead" ng-click='priorSimToggle()'>Select your simulation mode:</div>
	           	</md-card-title-text>
	          </md-card-title> 
	          <md-card-actions layout="row">
	             <md-button ng-click="newSimulation()">Start New Simulation</md-button>
	             <md-button ng-click="resumeSimulation()" ng-disabled="!mts.priorSim">Resume Previous Simulation</md-button>
	          </md-card-actions>
	        </md-card>
	        <div ng-click="toggleShowVideo()"><md-icon class="video-icon" >play_circle_filled</md-icon>Check out the video!</div>
	        
	        </div>
	        <div flex="50" layout="column">
	        <team></team>
	        </div>
        </div>
        <div ng-hide="showMenu || showVideo" layout="column" class="mts-viewport">
	    	<md-tabs md-selected="activeTab" md-dynamic-height="true">
	    	   <md-tab>
		    	   <md-tab-label>
		    	       <div layout="row"><md-icon>build</md-icon><div>Configure</div></div>
		    	   </md-tab-label>
		    	   <md-tab-body><sim-config></sim-config></md-tab-body>
	    	   </md-tab> 
	    	   <md-tab>
		    	   <md-tab-label>
		    	       <div layout="row"><md-icon>update</md-icon><div>Run Simulation</div></div>
		    	   </md-tab-label>
		    	   <md-tab-body><sim></sim></md-tab-body>
	    	   </md-tab> 
	    	   <md-tab>
		    	   <md-tab-label>
		    	       <div layout="row"><md-icon>local_gas_station</md-icon><div>Fuel Consumption</div></div>
		    	   </md-tab-label>
		    	   <md-tab-body><fuel-consumption></fuel-consumption></md-tab-body>
	    	   </md-tab> 
	    	</md-tabs>
        </div>
        <a78-video ng-show="showVideo" src="video/SampleVideo_1280x720_5mb.mp4" title="Group A7-8 Simulation System Video"></a78-video>
	</div>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="lib/d3.v5.min.js"></script>


    <script src="scripts/graphing/d3module.js"></script>
    <script src="scripts/MTSService/MTSService.js"></script>
    <script src="scripts/CommandsConsole/CommandsConsole.js"></script>
    <script src="scripts/CommandsConsole/SimConfig.js"></script>
    <script src="scripts/CommandsConsole/InputForms.js"></script>
    <script src="scripts/Dashboard/MtsDashboard.js"></script>
    <script src="scripts/SimExecution/SimExecution.js"></script>
    <script src="scripts/SimExecution/FuelConsumption.js"></script>
    <script src="scripts/GTColorsService.js"></script>
    <script src="scripts/graphing/report.js"></script>
    <script src="scripts/player.js"></script>
    <script src="scripts/MTS.js"></script>
    <script src="scripts/FileReader/FileReader.js"></script>
    <script src="scripts/graphing/FuelGauge.js"></script>
</body>
</html>
