<!DOCTYPE html>
<html>
<head>
 	<meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MTS" content="A MARTA Simulator">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MARTA Simulator</title>   
    
    <link rel="stylesheet" href="lib/fonts/material-icons.css">
    <link rel="stylesheet" href="lib/css/angular-material.min.css">
    <link rel="stylesheet" href="css/mts.css">
</head>
<body ng-app="MTS" ng-controller="MTSController as mts" ng-cloak >
    <md-content class="md-padding">
        <div ng-show="showMenu" layout="column">
	        <md-card>
	          <md-card-title>
	           	<md-card-title-text>
	           	   <span class="md-headline">Welcome to Group A7-8 MTS Simulation System</span>
	           	   <span class="md-subhead">Select your simulation mode:</span>
	           	</md-card-title-text>
	          </md-card-title> 
	          <md-card-actions layout="row">
	             <md-button ng-click="newSimulation()">Start New Simulation</md-button>
	             <md-button ng-click="resumeSimulation()">Resume Previous Simulation</md-button>
	          </md-card-actions>
	        </md-card>
        </div>
        <div ng-hide="showMenu">
	    	<md-tabs md-dynamic-height md-border-bottom>
	    	   <md-tab label="configure simulation"><md-content><sim-config></sim-config></md-content></md-tab> 
	    	   <md-tab label="run simulation"><md-content>tab1 content</md-content></md-tab> 
	    	</md-tabs>
		    <div layout="row" class="viewport">
		         <input type="file" ng-file-select="onFileSelect($files)" >
		    </div>
		    <div layout="row" class="viewport">
		         <commands-console data-commands="commands"></commands-console>
		    </div>
        </div>
	</md-content>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/angular-material.min.js"></script>

    <script src="scripts/MTSService/MTSService.js"></script>
    <script src="scripts/CommandsConsole/CommandsConsole.js"></script>
    <script src="scripts/CommandsConsole/SimConfig.js"></script>
    <script src="scripts/Dashboard/MtsDashboard.js"></script>
    <script src="scripts/MTS.js"></script>
    <script src="scripts/FileReader/FileReader.js"></script>
</body>
</html>
